{% include base_path %}

<h2> NEWS </h2>
<div class="news-container">
   <div class="news-item">
      <span class="news-date">Oct. 30, 2024</span>
      <span class="news-description"><a href="https://dl.acm.org/doi/abs/10.1145/3663548.3688494">CARTGPT</a> received the <b>BEST POSTER AWARD</b> at <a href="https://assets24.sigaccess.org">ASSETS 2024</a></span>
   </div>
   <div class="news-item">
      <span class="news-date">Oct. 18, 2024</span>
      <span class="news-description">Presented <a href="">ASR in Clinical Care</a> at <a href="https://medresearch.umich.edu/events/5th-annual-disability-research-symposium">5th Annual Disability Research Symposium</a></span>
   </div>
   <div class="news-item">
      <span class="news-date">Oct. 01, 2024</span>
      <span class="news-description">Our work <a href="https://cse.engin.umich.edu/stories/dhruv-jain-receives-google-funding-for-enhanced-sound-awareness-for-deaf-and-hard-of-hearing-individuals">Audio Scene Understanding</a> received <a href="https://research.google/programs-and-events/google-academic-research-awards/">Google Academic Research Awards</a></span>
   </div>
    <!-- Add more updates here -->
</div>