{% include base_path %}

<h2> NEWS </h2>
<div class="news-container">
   <!-- Add more updates here -->
   <div class="news-item">
      <span class="news-date">Aug. 26, 2025</span>
      <span class="news-description">🏆 CARTGPT receives the <b>Best Paper Honorable Mention</b> at <a href="https://assets25.sigaccess.org">ASSETS 2025</a>.</span>
   </div>
   <div class="news-item">
      <span class="news-date">Jul. 30, 2025</span>
      <span class="news-description">🎉 Two posters (one first-authored) are accepted by <a href="https://assets25.sigaccess.org">ASSETS 2025</a>.</span>
   </div>
   <div class="news-item">
      <span class="news-date">Jul. 03, 2025</span>
      <span class="news-description">🎉 Three papers (two first-authored) are accepted by <a href="https://assets25.sigaccess.org">ASSETS 2025</a>.</span>
   </div>
   <!-- <div class="news-item">
      <span class="news-date">Jun. 25, 2025</span>
      <span class="news-description">🤞 Submitted two demo papers (one first-authored) to <a href="https://assets25.sigaccess.org">ASSETS 2025</a>.</span>
   </div> -->
   <div class="news-item">
      <span class="news-date">Jun. 14, 2025</span>
      <span class="news-description">🤞 My co-first authored work <a href="https://preprints.jmir.org/preprint/79073">MedCaption</a> is available as a preprint for <a href="https://preprints.jmir.org/preprint/79073">JMIR</a>.</span>
   </div>
   <div class="news-item">
      <span class="news-date">Apr. 03, 2025</span>
      <span class="news-description">🎊 My work SoundNarratives is accepted by <a href=https://accessgaichi.com>the GenAI and A11y Workshop at CHI 2025</a>.</span>
   </div>
   <div class="news-item">
      <span class="news-date">Jan. 16, 2025</span>
      <span class="news-description">🎊 My co-authored work, <a href="https://dl.acm.org/doi/full/10.1145/3706598.3714268">SoundWeaver</a>, is accepted by <a href=https://chi2025.acm.org>CHI 2025.</a></span>
   </div>
   <div class="news-item">
      <span class="news-date">Oct. 30, 2024</span>
      <span class="news-description">🏆 <a href="https://dl.acm.org/doi/abs/10.1145/3663548.3688494">CARTGPT</a> receives the <b>BEST POSTER AWARD</b> at <a href="https://assets24.sigaccess.org">ASSETS 2024</a></span>
   </div>
   <div class="news-item">
      <span class="news-date">Oct. 18, 2024</span>
      <span class="news-description">💡 Presents <a href="">ASR in Clinical Care</a> at <a href="https://medresearch.umich.edu/events/5th-annual-disability-research-symposium">5th Annual Disability Research Symposium</a></span>
   </div>
   <div class="news-item">
      <span class="news-date">Oct. 01, 2024</span>
      <span class="news-description">🎉 Our research proposal, <a href="https://cse.engin.umich.edu/stories/dhruv-jain-receives-google-funding-for-enhanced-sound-awareness-for-deaf-and-hard-of-hearing-individuals">Audio Scene Understanding</a>, receives <a href="https://research.google/programs-and-events/google-academic-research-awards/">Google Academic Research Awards</a></span>
   </div>
</div>